<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Template: launchd/install.sh fills the @@...@@ placeholders. Do not load directly. -->
<plist version="1.0">
<dict>
  <key>Label</key><string>com.jasoncookdesign.dysonhope.blog-drip</string>
  <key>ProgramArguments</key>
  <array>
    <string>@@UV@@</string>
    <string>run</string>
    <string>--quiet</string>
    <string>--project</string>
    <string>@@SITE@@</string>
    <string>python</string>
    <string>@@SITE@@/tools/blog/drip.py</string>
    <string>--repo</string>
    <string>@@SITE@@</string>
    <string>--queue</string>
    <string>@@QUEUE@@</string>
  </array>
  <key>WorkingDirectory</key><string>@@SITE@@</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict><key>Hour</key><integer>7</integer><key>Minute</key><integer>0</integer></dict>
  <key>StandardOutPath</key><string>@@LOG_DIR@@/blog-drip.log</string>
  <key>StandardErrorPath</key><string>@@LOG_DIR@@/blog-drip.err.log</string>
</dict>
</plist>
